{% extends 'base.html.twig' %}
    
{% block title %}Hello RegisterController!{% endblock %}

{% block main %}
    <h1>Inscription</h1>
    
    {{ form(form) }}
    
    Formulaire d'inscription
{% endblock %}
